@import 'normalize';
@import 'form';

body {  background-color: #f2f2f2 }

.message-box {
  position: absolute;
  top: 40px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  .alert { color: #c00 }
  .notice { color: #080 }
}


#login-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 90px;

  #login-box {
    margin-top: 12px;
    padding: 5px;
    border-radius: 7px;

    & > header {
      margin-bottom: 10px;
      font-size: 140%;
      font-weight: bold;
      text-align: center;
    }

    & > #content {
      padding: 15px;

      dl, dt, dd { margin: 0; }
      dl { margin-bottom: 13px; }
      dt { margin-bottom: 6px; }

      input {
        font-size: 130%;

        &[type=text], &[type=password] {
          width: 300px;
          padding: 8px 12px;
          border: 1px solid #282828;
          border-radius: 4px;
          box-sizing: content-box;
        }

        &[type=submit] {
          width: 100%;
          margin-top: 10px;
          padding: 6px;
        }
      }

    }
  }
}

.alt-action {
  margin: 10px;
  font-size: 18px;
}